.container {
    position: relative;
    overflow: hidden;
    min-Height: 100vh;
}

.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-repeat: no-repeat;
    background-image: url('/Randomized-Pattern.svg');
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.ant-form-item-has-feedback.ant-form-item-has-success .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-warning .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-error .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-is-validating .ant-form-item-children-icon {
    right: 28px;
}

.titleSignup {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 60px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 1;
    z-index: 2;
    text-shadow: 2px 0 black;
}

.innerContainerSignup{
   width: 450px;
   height: 500px;
   border: 1px solid black;
   border-radius: 1%;
   background: white;
   z-index: 1;
   box-shadow: inset 0 0 10px black;
}

.signupMessage{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    opacity: 1;
    z-index: 2;
}

.boxesSignup {
    position: relative;
    margin: auto;
    margin-top: 2.5%;
    right: 0px;
}

.inputBoxSignup{
    width: 270px;
    border: 1px solid black;
    box-shadow: inset 0 0 2px black;
}

.formItemSignup{
    padding-top: 15px;
}

.buttonSignup{
    width: 270px;
    color: white;
    font-size: 1em; 
    font-weight: bold;
    border-radius: 2%;
    box-shadow: inset 0 0 3px black;
}

@media only screen and (max-width: 575px) {

    .titleSignup {
        display: none;
    }

    .innerContainerSignup {
        margin-top: 5%;
        width: 300px;
        height: 500px;
    }

    .signupMessage{
        display: none;
    }

    .boxesSignup {
        margin-top: 15px;
        left: 15px;
    }

    .formItemSignup{
        padding-top: 0px;
        margin: 0px;
    }
    
    .checkboxSignup{
        margin-left: 25px;
    }
    
    .ant-form-item-has-feedback.ant-form-item-has-success .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-warning .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-has-error .ant-form-item-children-icon, .ant-form-item-has-feedback.ant-form-item-is-validating .ant-form-item-children-icon {
        right: 118px;
    }

    .buttonSignup {
        margin-left: 0px;
    }
}